/* Estilos para el header */
header {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-left img {
    margin-right: 10px;
  }
  
  .nav-left .search {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .nav-right {
    margin-left: auto;
  }
  
  .nav-right button {
    margin-left: 10px;
  }
  
  /* Estilos para la sección con flexbox */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-section {
    flex: 1;
  }
  footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-size: cover;
    display: inline-block;
  }
  
  .icon-facebook {
    background-image: url('../assets/img/faceicon.png');
  }
  
  .icon-twitter {
    background-image: url('../assets/img/twittericon.png');
  }
  
  .icon-instagram {
    background-image: url('../assets/img/instaicon.png');
  }
  
.logo-placeholder-image {
  width: 150px;
}  